Hotels.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Sholmanr.github.io/cse445_a4/" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="Hotels">
        <xs:complexType>
            <xs:sequence> 
                <xs:element name="Hotel" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="Phone" minOccurs="1" maxOccurs="unbounded">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{3}-\d{3}-\d{4}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Number" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="State" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[A-Z][A-Z]"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Zip" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[0-9]{5}"/>
                                                    <xs:minLength value="5"/>
                                                    <xs:maxLength value="5"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    <xs:attribute name="rating" use="optional"> 
                        <xs:simpleType>
                            <xs:restriction base="xs:double">
                                <xs:minInclusive value="0.00"/>
                                <xs:maxInclusive value="5.00"/>
                            </xs:restriction>
                        </xs:simpleType>
                </xs:attribute>
                </xs:complexType>
            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>