Hotels.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.venus.sod.asu.edu/WSRepository/xml"
    xmlns="http://www.venus.sod.asu.edu/WSRepository/xml" elementFormDefault="qualified" attributeFormDefault="unqualified">


    <xsd:element name="Address">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Number" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="State" minOccurs="1" maxOccurs="1">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z][A-Z]"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Zip" minOccurs="1" maxOccurs="1">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[0-9]{5}"/>
                            <xsd:minLength value="5"/>
                            <xsd:maxLength value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Hotel">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="Phone" minOccurs="1" maxOccurs="unbounded">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="\d{3}-\d{3}-\d{4}"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element ref="Address" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:attribute name="rating" use="optional"> 
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:double">
                            <xsd:minInclusive value="0.00"/>
                            <xsd:maxInclusive value="5.00"/>
                        </xsd:restriction>
                    </xsd:simpleType>
            </xsd:attribute>
            </xsd:complexType>
        </xsd:element>
    
        <xsd:element name="Hotels">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element ref="Hotel" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>


</xsd:schema>